/*MOBILE FIRST STYLING*/

/*HEADER SECTION*/
.navbar_header_styling {
    display: inline-block;
}

.language_selection {
    display: inline;
}

.nav_tag_class {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
}

.nav_container_styling {
    width: 100%;
    background-color: #fffabe;
    overflow: hidden;
}

.nav_ul_hebrew {
    font-family: 'Alef', sans-serif;
    color: black;

}

/*FOOTER STYLING*/
footer {
    width: 100%;
}

.footer_container {
    background-color: #df5277;
    color: white;
    font-family: Arial;
    font-size: 9px;
}

.contact_info {
    margin-top: 3%;
}

.email {
    background-image: url(assets/images/mail.png);
    background-repeat: no-repeat;
}

.email_address {
    padding-left: 10%;
}

.phone {
    background-image: url(assets/images/phone.png);
    background-repeat: no-repeat;
}

.phone_number {
    padding-left: 10%;
}

.social_media {
    margin-top: 2%;
    font-family: 'Alef', sans-serif;
}

.social_media_icon {
    padding-left: 10%;
}

.copyright {
    font-size: 8px;
    margin: 2% 0;
}

/*General Body Styling */
.body_main_image {
    width: 100%;
}

.body_content_hebrew {
    margin: 5% 0;
}

.body_heading_hebrew {
    font-family: 'Alef', sans-serif;
    color: #6a6969;
    margin: 4% 0;
    text-align: right;
}

.body_paragraph_hebrew {
    margin: 4% 0;
    text-align: right;
}

.body_text_hebrew {
    font-family: 'Alef', sans-serif;
    color: #6a6969;
    text-align: right;
}

.body_text_english {
    font-family: Arial, Helvetica, sans-serif;
    color: #6a6969;
}

.body_link {
    color: #df5277;
}

.body_pic {
    margin-top: 15%;
}

/*home page styling*/
.day_container {
    display: inline-block;
}

.day_name_hebrew, .day_hours_hebrew,.day_flavor_hebrew {
    background-color: #fffabe;
    margin-top: 2%;
}

.day_flavor_hebrew_special {
    margin-top: 2%;
    color: white;
}

.day_macaron_container_hebrew {
    float: left;
    display: inline-block;
}

#day_flavor_vanilla {
    color: white;
    background-color: #df5277;
}

#day_flavor_coconut {
    color: white;
    background-color: #824603;
}

#day_flavor_almond {
    color: white;
    background-color: #c39005;
}

#day_flavor_lemon {
    color: white;
    background-color: #a2304e;
}

/*Our Macarons page styling*/
.body_ul_hebrew {
    list-style-position: inside;
    direction: rtl;
}

/*contact page specifc styling */


.form-control, .btn-default {
    background-color: #f5f5f5;
    border-radius: 0%;
}

.form_hebrew {
    text-align: right;
}

.contact_page_body_pic {
    margin-top: 15%;
}

/*TABLET SPECIFIC STYLING*/
@media (min-width: 768px) and (max-width: 991px) {

    /*FOOTER STYLING*/
    footer {
        width: 100%;
    }

    .social_media {
        margin-top: 0;
        font-family: 'Alef', sans-serif;
    }

}
/*SMALL DESKTOP STYLING*/
@media (min-width:992px) and (max-width: 999px) {
    footer {
        width: 100%;
    }

    .footer_container {
        width: 100%;
        background-color: #df5277;
        color: white;
        font-family: Arial;
        margin-top: 30px;
    }

    .contact_info {
        margin: 10px 0 10px 10%;
        font-size: 12px;
    }

    .email {
        background-image: url(assets/images/mail.png);
        background-repeat: no-repeat;
    }

    .email_address {
        padding-left: 10px;
    }

    .phone {
        background-image: url(assets/images/phone.png);
        background-repeat: no-repeat;
    }

    .phone_number {
        padding-left: 10px;
    }

    .social_media {
        margin-top: 0;
        font-family: 'Alef', sans-serif;
    }

    .social_media_icon {
        padding-left: 10px;
    }

    .copyright {
        font-size: 11px;
        margin-left: 8%;
    }
}

/*For some reason, the medium and large flags show up in this width, so this is to address that issue */
@media (min-width:1000px) and (max-width: 1200px) {
    body {
        margin: 0 5%;
    }

    .nav_tag_class {
        width: 1000px;
        height: 72px;
        background-color: #fffabe;
        box-sizing: border-box;
        overflow: hidden;
    }

    .nav_container_styling {
        width: 1000px;
        background-color: #fffabe;
        overflow: hidden;
    }

    /*FOOTER FORMATTING */
    footer {
        max-width: 1000px;
    }

    .footer_container {
        width: 1000px;
        height: 80px;
        background-color: #df5277;
        color: white;
        font-family: Arial;
        margin-top: 30px;
    }

    .contact_info {
        margin: 10px 0 10px 10%;
        font-size: 12px;
    }

    .email {
        background-image: url(assets/images/mail.png);
        background-repeat: no-repeat;
    }

    .email_address {
        padding-left: 10px;
    }

    .phone {
        background-image: url(assets/images/phone.png);
        background-repeat: no-repeat;
    }

    .phone_number {
        padding-left: 10px;
    }

    .social_media {
        margin-top: 0;
        font-family: 'Alef', sans-serif;
    }

    .social_media_icon {
        padding-left: 10px;
    }

    .copyright {
        font-size: 11px;
        margin-left: 8%;
    }

    /*main body styling*/
    .body_main_image {
        width: 1000px;
        height: 400px;
    }

    .body_content_hebrew {
        margin: 10px 0;
        width: 100%;
    }

    .body_heading_hebrew {
        font-family: 'Alef', sans-serif;
        color: #6a6969;
        font-size: 20px;
    }

    .body_text_hebrew {
        font-family: 'Alef', sans-serif;
        color: #6a6969;
        font-size: 14px;
    }

    /*main page styling*/
    .day_container {
        width: 126px;
    }

    .flavor_schedule_hebrew {
        width: 1000px;
    }

}
/*LAPTOPS THAT CAN SEE ORIGINAL PROJECT REQUIREMENTS*/
@media (min-width: 1200px) and (max-width: 1919px) {
body {
    margin: 0 5%;
}
    .nav_tag_class {
        width: 1000px;
        height: 72px;
        background-color: #fffabe;
        box-sizing: border-box;
        overflow: hidden;
    }

    .nav_container_styling {
        width: 1000px;
        background-color: #fffabe;
        overflow: hidden;
    }

    /*footer*/
    footer {
        width: 1000px;
    }

    .footer_container {
        width: 1000px;
        height: 80px;
        background-color: #df5277;
        color: white;
        font-family: Arial;
        margin-top: 30px;
    }

    .contact_info {
        margin: 10px 0 10px 10%;
        font-size: 12px;
    }

    .email {
        background-image: url(assets/images/mail.png);
        background-repeat: no-repeat;
    }

    .email_address {
        padding-left: 10px;
    }

    .phone {
        background-image: url(assets/images/phone.png);
        background-repeat: no-repeat;
    }

    .phone_number {
        padding-left: 10px;
    }

    .social_media {
        margin-top: 0;
        font-family: 'Alef', sans-serif;
    }

    .social_media_icon {
        padding-left: 10px;
    }

    .copyright {
        font-size: 11px;
        margin-left: 8%;
    }

    /*main body styling*/
    .body_main_image {
        width: 1000px;
        height: 400px;
    }

    .body_content_hebrew {
        margin: 10px 0;
        width: 1000px;
    }

    .body_heading_hebrew {
        font-family: 'Alef', sans-serif;
        color: #6a6969;
        font-size: 20px;
    }
}
/*LARGE SCREEN DESKTOPS*/
@media (min-width: 1920px) {

    .nav_tag_class {
        width: 1500px;
        background-color: #fffabe;
        box-sizing: border-box;
        overflow: hidden;
    }

    .nav_container_styling {
        width: 1500px;
        background-color: #fffabe;
        overflow: hidden;
    }
}