
/*header styling*/
.nav_tag_class {
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
}

.mobile_nav {
    width: 100%;
    background-color: #fffabe;
    overflow: hidden;

}

.navbar_header_styling {
    display: inline-block;
    width: 100%;
}

.mobile_nav_ul {
    overflow: hidden;
    display: inline-block;
    width: 95%;
    margin-left: 4%;
}

.mobile_nav_ul li {
    display: inline;
    text-transform: uppercase;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 7px;
    color: #515151;
    padding: 0 7px;
}

.mobile_nav_ul li a {
    padding: 0 7px;
}

/*footer styling */
.footer_container {
    background-color: #df5277;
    color: white;
    font-family: Arial;
    font-size: 9px;
}

.contact_info {
    margin-top: 3%;
}

.email {
    background-image: url(assets/images/mail.png);
    background-repeat: no-repeat;
}

.email_address {
    padding-left: 10%;
}

.phone {
    background-image: url(assets/images/phone.png);
    background-repeat: no-repeat;
}

.phone_number {
    padding-left: 10%;
}

.social_media {
    margin-top: 2%;
}

.social_media_icon {
    padding-left: 10%;
}

.copyright {
    font-size: 8px;
    margin: 2% 0;
}

/*Tablet Styling*/
@media (min-width: 768px) and (max-width: 991px) {
    .nav_tag_class {
        box-sizing: border-box;
        overflow: hidden;
        width: 100vw;
    }

    .non_mobile_nav {
        width: 100%;
        background-color: #fffabe;
        overflow: hidden;
        box-sizing: border-box;
    }

    .navbar_header_styling {
        display: inline-block;
        width: 100%;
    }
.navbar-brand {
    padding-left: 40%;
}

    .nav_ul {
        overflow: hidden;
        display: inline-block;
    }

    .nav_ul li {
        display: inline;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #515151;
    }

    .nav_ul li:hover {
        color: #d42551;
    }

}

/*Small Desktop Styling*/
@media (min-width: 992px) and (max-width: 999px) {

    .nav_tag_class {
        box-sizing: border-box;
        overflow: hidden;
        width: 100vw;
    }

    .non_mobile_nav {
        width: 100%;
        background-color: #fffabe;
        overflow: hidden;
        box-sizing: border-box;
    }

    .navbar_header_styling {

    }

    .navbar-brand {
        background-image: url(assets/images/logo.png);
        background-repeat: no-repeat;

    }

    .nav_ul {
        overflow: hidden;
        display: inline-block;
    }

    .nav_ul li {
        display: inline;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #515151;
    }

    .nav_ul li:hover {
        color: #d42551;
    }

}

/*Styling for any device that can see the original assignment's styling */

@media (min-width: 1000px) {
    .nav_tag_class {
        width: 1000px;
        height: 72px;
        background-color: #fffabe;
        box-sizing: border-box;
        overflow: hidden;
    }

    .non_mobile_nav {
        width: 100%;
        background-color: #fffabe;
        overflow: hidden;
        box-sizing: border-box;
    }

    .navbar_header_styling {
        display: inline-block;
        width: 970px;
        height: 52px;
        box-sizing: border-box;
        margin: 10px 0;
        padding-left: 10px;
    }
    .navbar-brand {
        background-image: url(assets/images/logo.png);
        background-repeat: no-repeat;

    }

    .nav_ul {
        overflow: hidden;
        display: inline-block;
    }

    .nav_ul li {
        display: inline;
        text-transform: uppercase;
        font-family: Arial, Helvetica, sans-serif;
        color: #515151;
    }

    .nav_ul li:hover {
        color: #d42551;
    }
}



