body{
    font-family: Arial, Helvetica, sans-serif;

    overflow-x: hidden;

}

div#google_translate_element {
   display: none;
}
.navbar-nav>.open>a{
    background-image: none;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #fffabe !important;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#fffabe 0,#fffabe 100%);
    background-image: -o-linear-gradient(top,#fffabe 0,#fffabe 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#fffabe),to(#fffabe));
    background-image: linear-gradient(to bottom,#fffabe 0,#fffabe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
    box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top,#FEDFDF  0,#FEDFDF  100%);
    background-image: -o-linear-gradient(top,#FEDFDF  0,#FEDFDF  100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#FEDFDF),to(#FEDFDF ));
    background-image: linear-gradient(to bottom,#f5f5f5 0,#FEDFDF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
    background-repeat: repeat-x;
}

.navbar img {
    width: 50%;
}

header{
    background-color: #fffabe;
}
nav>.container, .navbar-default .navbar-collapse, .navbar-default, .navbar-header, .navbar-inner{
    background-color: #fffabe !important;
}

.nav li a{
    color: #515151;
}

.nav li a:hover{
    color:#d42551;
}

.jumbotron{
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -2%;
}

.img-section{
    font-size: 14px;
}
p{
    font-size: 14px;
    color: #6a6969;
}
h1, h2{
    font-size: 20px;
}

.main-content{
    text-align: left;
}


ul.list-group{
    font-size: 12px;
    list-style-type: none;
}

.list-group>li img{
    float: right;
}

.list-section li {
    padding: 7% 5%;
    background-color: #fffabe;
}
@media screen and (min-width: 992px) {
    .col-md-2 {
        width: 13.99%;

    }
}

.list-section>ul>li{
    background-color: #fffabe;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fffabe;
}
.dropdown-menu li:hover{
    background-color: #fffabe;
}



.last-item{
    color:white;
}

#wildcard1{
    background-color: #824603;
}
#wildcard2{
    background-color: #df5277;
}

#wildcard3{
    background-color: #a2304e;
}

#wildcard4{
    background-color: #c39005;
}

footer{
    background-color: #df5277;
    height: 100% !important;
    margin-bottom: 0 !important;
    color: white;
    border-radius: 5px;
}
div.row.text-center {
    padding: 2% !important;
}

footer p{
    color: white;
}

div.tower{
    background-image: url('assets/images/gifts-parties-background.png');
    background-position: 57% 116%;
    background-repeat: no-repeat;
}

.jumbotron-gifts{
    background-image: url("assets/images/gifts-parties-image.png");
}
.macaron-jumbotron{
    background-image: url("assets/images/our-macarons-image.png");
    height:400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.macarons-main-img{
    background-image: url("assets/images/our-macarons-background.png");
    background-position: 105% 77%;
    background-repeat: no-repeat;
    height: 288px;

}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    margin: 2% 0;
}

main.main-contact {
    margin: 5% 0;
}

.main-gifts>p>a{
    color: #df5277;
}

.jumbotron-contact{
    background-image: url('assets/images/contact-image.png');
}

